<form method="POST" action="/register">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="username">
    <input type="submit" placeholder="Submit">
</form>